* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #f0f0f0;
  line-height: 1.6;
}

header {
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007BFF;
}

.hero {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #e8f4f8;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-content {
  flex: 1;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #000; 
}

.book-now {
  padding: 10px 20px;
  background-color: #333;
  color: #fcf8f8; 
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.book-now:hover {
  background-color: #555; 
}


.location {
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}


.hero-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-details {
  display: flex;
  padding: 50px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.room-info {
  flex: 1;
  margin-right: 20px;
}

.room-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.room-images img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #f8f8f8;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.social-media a {
  margin: 0 10px;
  transition: opacity 0.3s ease;
}

.social-media a:hover {
  opacity: 0.7;
}

.social-media img {
  width: 20px;
  height: auto;
}
